.Rproj.user
.Rhistory
.RData
.Ruserdata
2_transrate_dir/
transrate/
INPUTS/
2_subsampling_dir/
0_simulated_data_dir/
INPUTS/
1_assembly/transrate_contigs_dir/
1_assembly/FASTA_DIR
1_assembly/blast_outputs
1_assembly/transrate_contigs_reference_dir/
3_kmer_dir/transrate_contigs_dir/
MULTIQC_VIZ_DIR/
test_subsampling_dir/
