.Rproj.user
.Rhistory
.RData
.Ruserdata
2_transrate_dir/
transrate/
INPUTS/
2_subsampling_dir/
0_simulated_data_dir/
INPUTS/
1_assembly/transrate_contigs_dir/
1_assembly/FASTA_DIR
1_assembly/blast_outputs
1_assembly/transrate_contigs_reference_dir/
3_kmer_dir/transrate_contigs_dir/
MULTIQC_VIZ_DIR/
test_subsampling_dir/
hhsuite_model_dir/
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.30.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.40.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.50.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.60.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.70.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.80.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.90.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.91.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.92.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.93.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.94.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.95.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.96.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.97.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.98.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_0.99.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/cluster_split_1.00.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/curated_nuc_conoServerDB_cluster_counts.csv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/nearest_reference_identity.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/nearest_reference_identity_protein.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/protein_nri_mmseqs.log
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.30.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.40.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.50.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.60.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.70.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.80.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.90.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.91.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.92.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.93.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.94.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.95.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.96.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.97.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.98.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_0.99.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/reference_1.00.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/strat3_analysis/strat3_analysis_table.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/strat3_analysis/strat3_diversity_curve.png
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/strat3_analysis/strat3_logistic_coefficients.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/strat3_analysis/strat3_recovery_binned.tsv
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/strat3_analysis/strat3_recovery_vs_NRI.pdf
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/strat3_analysis/strat3_recovery_vs_NRI.png
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.30.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.40.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.50.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.60.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.70.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.80.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.90.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.91.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.92.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.93.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.94.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.95.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.96.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.97.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.98.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_0.99.fasta
1_assembly_dir/sequence_identity_stratified_dir/curated_nuc_conoServerDB_strat3_dir/test_1.00.fasta
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.30_200x_PE_IDBA_both_dir/test_0.30_200x_PE_IDBA/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.30_200x_PE_MEGAHIT_both_dir/test_0.30_200x_PE_MEGAHIT/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.30_200x_PE_RNABLOOM_both_dir/test_0.30_200x_PE_RNABLOOM/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.30_200x_PE_SPADES_both_dir/test_0.30_200x_PE_SPADES/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.30_200x_PE_TRINITY_both_dir/test_0.30_200x_PE_TRINITY/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.50_200x_PE_IDBA_both_dir/test_0.50_200x_PE_IDBA/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.50_200x_PE_MEGAHIT_both_dir/test_0.50_200x_PE_MEGAHIT/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.50_200x_PE_RNABLOOM_both_dir/test_0.50_200x_PE_RNABLOOM/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.50_200x_PE_SPADES_both_dir/test_0.50_200x_PE_SPADES/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.50_200x_PE_TRINITY_both_dir/test_0.50_200x_PE_TRINITY/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.91_200x_PE_IDBA_both_dir/test_0.91_200x_PE_IDBA/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.91_200x_PE_MEGAHIT_both_dir/test_0.91_200x_PE_MEGAHIT/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.91_200x_PE_RNABLOOM_both_dir/test_0.91_200x_PE_RNABLOOM/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.91_200x_PE_SPADES_both_dir/test_0.91_200x_PE_SPADES/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.91_200x_PE_TRINITY_both_dir/test_0.91_200x_PE_TRINITY/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.95_200x_PE_IDBA_both_dir/test_0.95_200x_PE_IDBA/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.95_200x_PE_MEGAHIT_both_dir/test_0.95_200x_PE_MEGAHIT/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.95_200x_PE_RNABLOOM_both_dir/test_0.95_200x_PE_RNABLOOM/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.95_200x_PE_SPADES_both_dir/test_0.95_200x_PE_SPADES/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.95_200x_PE_TRINITY_both_dir/test_0.95_200x_PE_TRINITY/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.98_200x_PE_IDBA_both_dir/test_0.98_200x_PE_IDBA/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.98_200x_PE_MEGAHIT_both_dir/test_0.98_200x_PE_MEGAHIT/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.98_200x_PE_RNABLOOM_both_dir/test_0.98_200x_PE_RNABLOOM/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.98_200x_PE_SPADES_both_dir/test_0.98_200x_PE_SPADES/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.98_200x_PE_TRINITY_both_dir/test_0.98_200x_PE_TRINITY/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.99_200x_PE_IDBA_both_dir/test_0.99_200x_PE_IDBA/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.99_200x_PE_MEGAHIT_both_dir/test_0.99_200x_PE_MEGAHIT/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.99_200x_PE_RNABLOOM_both_dir/test_0.99_200x_PE_RNABLOOM/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.99_200x_PE_SPADES_both_dir/test_0.99_200x_PE_SPADES/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_0.99_200x_PE_TRINITY_both_dir/test_0.99_200x_PE_TRINITY/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_1.00_200x_PE_MEGAHIT_both_dir/test_1.00_200x_PE_MEGAHIT/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_1.00_200x_PE_RNABLOOM_both_dir/test_1.00_200x_PE_RNABLOOM/contigs.csv
1_assembly_dir/sequence_identity_stratified_dir/transrate_contigs_dir/test_1.00_200x_PE_TRINITY_both_dir/test_1.00_200x_PE_TRINITY/contigs.csv
3_kmer_dir/.DS_Store
1_assembly_dir/.DS_Store
1_assembly_dir/cluster_toxins_mmseq_dir/.DS_Store
3_kmer_dir/.DS_Store
3_kmer_dir/transrate_contigs_kmer_dir/.DS_Store
3_kmer_dir/transrate_contigs_kmer_dir/Fold01_200x_PE_samples_19_dir/Fold01_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold01_200x_PE_samples_21_dir/Fold01_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold01_200x_PE_samples_25_dir/Fold01_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold01_200x_PE_samples_33_dir/Fold01_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold01_200x_PE_samples_49_dir/Fold01_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold01_200x_PE_samples_55_dir/Fold01_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold01_200x_PE_samples_73_dir/Fold01_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold02_200x_PE_samples_19_dir/Fold02_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold02_200x_PE_samples_21_dir/Fold02_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold02_200x_PE_samples_25_dir/Fold02_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold02_200x_PE_samples_33_dir/Fold02_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold02_200x_PE_samples_49_dir/Fold02_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold02_200x_PE_samples_55_dir/Fold02_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold02_200x_PE_samples_73_dir/Fold02_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold03_200x_PE_samples_19_dir/Fold03_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold03_200x_PE_samples_21_dir/Fold03_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold03_200x_PE_samples_25_dir/Fold03_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold03_200x_PE_samples_33_dir/Fold03_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold03_200x_PE_samples_49_dir/Fold03_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold03_200x_PE_samples_55_dir/Fold03_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold03_200x_PE_samples_73_dir/Fold03_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold04_200x_PE_samples_19_dir/Fold04_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold04_200x_PE_samples_21_dir/Fold04_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold04_200x_PE_samples_25_dir/Fold04_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold04_200x_PE_samples_33_dir/Fold04_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold04_200x_PE_samples_49_dir/Fold04_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold04_200x_PE_samples_55_dir/Fold04_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold04_200x_PE_samples_73_dir/Fold04_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold05_200x_PE_samples_19_dir/Fold05_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold05_200x_PE_samples_21_dir/Fold05_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold05_200x_PE_samples_25_dir/Fold05_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold05_200x_PE_samples_33_dir/Fold05_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold05_200x_PE_samples_49_dir/Fold05_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold05_200x_PE_samples_55_dir/Fold05_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold05_200x_PE_samples_73_dir/Fold05_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold06_200x_PE_samples_19_dir/Fold06_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold06_200x_PE_samples_21_dir/Fold06_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold06_200x_PE_samples_25_dir/Fold06_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold06_200x_PE_samples_33_dir/Fold06_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold06_200x_PE_samples_49_dir/Fold06_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold06_200x_PE_samples_55_dir/Fold06_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold06_200x_PE_samples_73_dir/Fold06_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold07_200x_PE_samples_19_dir/Fold07_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold07_200x_PE_samples_21_dir/Fold07_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold07_200x_PE_samples_25_dir/Fold07_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold07_200x_PE_samples_33_dir/Fold07_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold07_200x_PE_samples_49_dir/Fold07_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold07_200x_PE_samples_55_dir/Fold07_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold07_200x_PE_samples_73_dir/Fold07_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold08_200x_PE_samples_19_dir/Fold08_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold08_200x_PE_samples_21_dir/Fold08_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold08_200x_PE_samples_25_dir/Fold08_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold08_200x_PE_samples_33_dir/Fold08_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold08_200x_PE_samples_49_dir/Fold08_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold08_200x_PE_samples_55_dir/Fold08_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold08_200x_PE_samples_73_dir/Fold08_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold09_200x_PE_samples_19_dir/Fold09_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold09_200x_PE_samples_21_dir/Fold09_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold09_200x_PE_samples_25_dir/Fold09_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold09_200x_PE_samples_33_dir/Fold09_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold09_200x_PE_samples_49_dir/Fold09_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold09_200x_PE_samples_55_dir/Fold09_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold09_200x_PE_samples_73_dir/Fold09_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold10_200x_PE_samples_19_dir/Fold10_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold10_200x_PE_samples_21_dir/Fold10_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold10_200x_PE_samples_25_dir/Fold10_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold10_200x_PE_samples_33_dir/Fold10_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold10_200x_PE_samples_49_dir/Fold10_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold10_200x_PE_samples_55_dir/Fold10_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold10_200x_PE_samples_73_dir/Fold10_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold11_200x_PE_samples_19_dir/Fold11_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold11_200x_PE_samples_21_dir/Fold11_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold11_200x_PE_samples_25_dir/Fold11_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold11_200x_PE_samples_33_dir/Fold11_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold11_200x_PE_samples_49_dir/Fold11_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold11_200x_PE_samples_55_dir/Fold11_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold11_200x_PE_samples_73_dir/Fold11_200x_PE_samples_73/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold12_200x_PE_samples_19_dir/Fold12_200x_PE_samples_19/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold12_200x_PE_samples_21_dir/Fold12_200x_PE_samples_21/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold12_200x_PE_samples_25_dir/Fold12_200x_PE_samples_25/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold12_200x_PE_samples_33_dir/Fold12_200x_PE_samples_33/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold12_200x_PE_samples_49_dir/Fold12_200x_PE_samples_49/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold12_200x_PE_samples_55_dir/Fold12_200x_PE_samples_55/contigs.csv
3_kmer_dir/transrate_contigs_kmer_dir/Fold12_200x_PE_samples_73_dir/Fold12_200x_PE_samples_73/contigs.csv
estimate_cov.fasta
INPUTS/.DS_Store
LOSO_Diversity_Analysis/01_shannon_by_superfamily.png
LOSO_Diversity_Analysis/02_sample_size_entropy.png
LOSO_Diversity_Analysis/03_entropy_distribution_by_method.png
LOSO_Diversity_Analysis/LOSO_shannon_entropy_detailed.csv
LOSO_Diversity_Analysis/LOSO_shannon_entropy_summary.csv
PyCartet-EDA.ipynb
Rproject/.DS_Store
Rproject/clustering_analysis/clustering_plot_20260502_232831.pdf
Rproject/clustering_analysis/clustering_plot_20260502_232831.png
Rproject/clustering_analysis/clustering_plot_20260502_233638.pdf
Rproject/clustering_analysis/clustering_plot_20260502_233638.png
Rproject/clustering_analysis/clustering_plot_20260503_001258.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001258.png
Rproject/clustering_analysis/clustering_plot_20260503_001628.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001628.png
Rproject/clustering_analysis/clustering_plot_20260503_001642.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001642.png
Rproject/clustering_analysis/clustering_plot_20260503_001700.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001700.png
Rproject/clustering_analysis/clustering_plot_20260503_004324.pdf
Rproject/clustering_analysis/clustering_plot_20260503_004324.png
Rproject/clustering_analysis/clustering_plot_20260503_004339.pdf
Rproject/clustering_analysis/clustering_plot_20260503_004339.png
Rproject/clustering_analysis/clustering_plot_20260503_004720.pdf
Rproject/clustering_analysis/clustering_plot_20260503_004720.png
Rproject/clustering_analysis/diversity_curves_20260502_232831.png
Rproject/clustering_analysis/diversity_curves_20260502_233638.png
Rproject/clustering_analysis/heatmap_20260502_232831.png
Rproject/clustering_analysis/heatmap_20260502_233638.png
Rproject/clustering_analysis/processed_data_20260502_232831.csv
Rproject/clustering_analysis/processed_data_20260502_233638.csv
Rproject/clustering_analysis/processed_data_20260503_001258.csv
Rproject/clustering_analysis/processed_data_20260503_001628.csv
Rproject/clustering_analysis/processed_data_20260503_001642.csv
Rproject/clustering_analysis/processed_data_20260503_001700.csv
Rproject/clustering_analysis/processed_data_20260503_004324.csv
Rproject/clustering_analysis/processed_data_20260503_004339.csv
Rproject/clustering_analysis/processed_data_20260503_004720.csv
Rproject/clustering_analysis/summary_stats_20260502_232831.csv
Rproject/clustering_analysis/summary_stats_20260502_233638.csv
Rproject/clustering_analysis/summary_stats_20260503_001258.csv
Rproject/clustering_analysis/summary_stats_20260503_001628.csv
Rproject/clustering_analysis/summary_stats_20260503_001642.csv
Rproject/clustering_analysis/summary_stats_20260503_001700.csv
Rproject/clustering_analysis/summary_stats_20260503_004324.csv
Rproject/clustering_analysis/summary_stats_20260503_004339.csv
Rproject/clustering_analysis/summary_stats_20260503_004720.csv
Rproject/To_remove_dir/.DS_Store
T_superfamily.fasta
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Workflow_dir/.DS_Store
Workflow_dir/0_Data_selection/.DS_Store
3_kmer_dir/.DS_Store
estimate_cov.fasta
INPUTS/.DS_Store
PyCartet-EDA.ipynb
Rproject/.DS_Store
Rproject/clustering_analysis/clustering_plot_20260502_232831.pdf
Rproject/clustering_analysis/clustering_plot_20260502_232831.png
Rproject/clustering_analysis/clustering_plot_20260502_233638.pdf
Rproject/clustering_analysis/clustering_plot_20260502_233638.png
Rproject/clustering_analysis/clustering_plot_20260503_001258.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001258.png
Rproject/clustering_analysis/clustering_plot_20260503_001628.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001628.png
Rproject/clustering_analysis/clustering_plot_20260503_001642.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001642.png
Rproject/clustering_analysis/clustering_plot_20260503_001700.pdf
Rproject/clustering_analysis/clustering_plot_20260503_001700.png
Rproject/clustering_analysis/clustering_plot_20260503_004324.pdf
Rproject/clustering_analysis/clustering_plot_20260503_004324.png
Rproject/clustering_analysis/clustering_plot_20260503_004339.pdf
Rproject/clustering_analysis/clustering_plot_20260503_004339.png
Rproject/clustering_analysis/clustering_plot_20260503_004720.pdf
Rproject/clustering_analysis/clustering_plot_20260503_004720.png
Rproject/clustering_analysis/diversity_curves_20260502_232831.png
Rproject/clustering_analysis/diversity_curves_20260502_233638.png
Rproject/clustering_analysis/heatmap_20260502_232831.png
Rproject/clustering_analysis/heatmap_20260502_233638.png
Rproject/clustering_analysis/processed_data_20260502_232831.csv
Rproject/clustering_analysis/processed_data_20260502_233638.csv
Rproject/clustering_analysis/processed_data_20260503_001258.csv
Rproject/clustering_analysis/processed_data_20260503_001628.csv
Rproject/clustering_analysis/processed_data_20260503_001642.csv
Rproject/clustering_analysis/processed_data_20260503_001700.csv
Rproject/clustering_analysis/processed_data_20260503_004324.csv
Rproject/clustering_analysis/processed_data_20260503_004339.csv
Rproject/clustering_analysis/processed_data_20260503_004720.csv
Rproject/clustering_analysis/summary_stats_20260502_232831.csv
Rproject/clustering_analysis/summary_stats_20260502_233638.csv
Rproject/clustering_analysis/summary_stats_20260503_001258.csv
Rproject/clustering_analysis/summary_stats_20260503_001628.csv
Rproject/clustering_analysis/summary_stats_20260503_001642.csv
Rproject/clustering_analysis/summary_stats_20260503_001700.csv
Rproject/clustering_analysis/summary_stats_20260503_004324.csv
Rproject/clustering_analysis/summary_stats_20260503_004339.csv
Rproject/clustering_analysis/summary_stats_20260503_004720.csv
T_superfamily.fasta
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
