SPADES="rnaspades.py -s $single_reads -t $CPU -m $MEM -o $OUTDIR"
TRINITY="Trinity --seqType fq --max_memory 120G --single $single_reads --no_normalize_reads --CPU $CPU --output $OUTDIR --full_cleanup"
BAYESDENOVO="BayesDenovo_v1.pl --seqType fq --single $single_reads --CPU $CPU  --output $OUTDIR --bamfile $OUTDIR/bamfile.bam --fafile $OUTDIR/bayesdenovo.fa"
RNABLOOM="rnabloom -sef $single_reads -t $CPU  -outdir $OUTDIR"
IDBA="idba_hybrid -r $single_reads -o $OUTDIR"

# Not running yet
TRANSABBYS="transabyss --se $single_reads --threads $CPU  --outdir $OUTDIR"
SOAPDENOVO="SOAPdenovo-Trans-31mer all -s $configureFile -p $CPU  -o $OUTDIR"
