# Absolute path to the run_{assembler}.sh file, NAMETOOL=run_assemblers_dir/run_{assembler}.sh
SPADES=run_assemblers_dir/Run_spades.sh
TRINITY=run_assemblers_dir/Run_trinity.sh
PLASS=run_assemblers_dir/Run_plass.sh
SPADESMALL=run_assemblers_dir/Run_spades_small.sh
SPADESLARGE=run_assemblers_dir/Run_spades_large.sh
SPADESFULL=run_assemblers_dir/Run_spades_full.sh
